table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 0.5em;
    table-layout: fixed;
  width: 100%;
    
}

thead th:nth-child(1) {
  width: 2em;
}

thead th:nth-child(2) {
  width: 3em;
}

td {
    border: 1px solid #000;
    border-collapse: collapse;
}

thead,
th {
    background-color: #333;
    border: 1px solid #000;
    color: white
}
